<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Books</h1>
	<table>
		<tr>
			<th>Author</th>
			<th>Title</th>
            <th>Isbn</th>
			<th>Year</th>
            <th>Price</th>
		</tr>

		<tr th:each="book : ${books}">
			<td th:text="${book.author}">Author</td>
			<td th:text="${book.title}">Title</td>
            <td th:text="${book.isbn}">ISBN</td>
			<td th:text="${book.publicationYear}">Year</td>
            <td th:text="${book.price}">Price</td>
            <td><a th:href="@{/deletebook/{id}(id=${book.id})}">Delete</a></td>
		</tr>
	</table>
    <a href="/addbook">Add book</a>

</body>
</html>